{
  "guilds": {
    "964202915868844042": {
      "100iv": 1504865100111151168,
      "0iv": 1504866503126946003,
      "watches": [
        {
          "pokemon": "chikorita",
          "channel_id": 1505613533717598368
        },
        {
          "pokemon": "machop",
          "channel_id": 1505613533717598368
        },
        {
          "pokemon": "charmander",
          "channel_id": 1505020187806793940
        }
      ]
    }
  }
}
